<html>
<head>
    <title>desktop i18n</title>
    <style>
        li{
            margin: 5px 0;
        }
        .content {
            margin-left: 4%;
            margin-right: 4%;
            margin-top: 1%;
            margin-bottom: 1%;
            color:darkslategray;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .sub-content {
            margin: 2%;
        }
        .pull-right {
            float: right;
        }
    </style>
    {% block style %}{% endblock %}
</head>

<body>
    {% block body %}
    <div class="content">
        <h1><small>improving,</small> i18n experiences</h1><hr/>
        <ul class="nav nav-tabs">
          {% block navtabs %}{% endblock %}
        </ul>
        <div class="sub-content">
            {% block subcontent %}{% endblock %}
        </div>
    </div>
    {% endblock %}
    {% block script %} {% endblock %}
</body>

<footer>
    {% block footer %}{% endblock %}
</footer>
</html>
