{% extends "base.html" %}

{% block style %}
<style>
a:hover {
    color:lightslategrey;
}
a {
    color: darkslategrey;
}
hr {
  border: 1px dotted;
}
.content {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}
.sub-content {
    margin-left: 2%;
}
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block navtabs %}
<li><a href="{% url 'index' %}"><h4>Status</h4></a></li>
<li><a href="{% url 'sub-pkg' %}"><h4>RPM Translation Sub-packaging</h4></a></li>
<li><a href="{% url 'sos' %}"><h4>SOS Summary</h4></a></li>
<li><a href="{% url 'anaconda' %}"><h4>Anaconda</h4></a></li>
<li><a href="{% url 'gettext' %}"><h4>Gettext</h4></a></li>
<li class="active"><a href="{% url 'gnome-apps' %}"><h4>GNOME Apps</h4></a></li>
<li><a href="https://transtats.org" target="_blank"><h4>Localization Workflow</h4></a></li>
{% endblock %}

{% block subcontent %}
<div class="sub-content">
    <h2>Software</h2>
    <div style="margin: 3%; font-size: large;">
        <p> - Auto-install language packs on fedora workstation and silverblue. See code
            <a href="https://github.com/GNOME/gnome-software/commit/54034d267b0e61d4f82c80755dae490d5ecce668" target="_blank">changes</a>.</p>

    </div><hr/>
    <h2>Control Center</h2>
    <div style="margin: 3%; font-size: large;">
        <p> - <a href="https://issues.redhat.com/browse/I18N-860" target="_blank">I18N-860</a> Improve language search</p>
    </div>
</div>
{% endblock %}
