{% extends "base.html" %}

{% block style %}
<style>
a:hover {
    color:lightslategrey;
}
a {
    color: darkslategrey;
}
hr {
  border: 1px dotted;
}
.content {
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}
.sub-content {
    margin-left: 2%;
}
</style>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}


{% block navtabs %}
<li class="active"><a href="{% url 'index' %}"><h4>Status</h4></a></li>
<li><a href="{% url 'sub-pkg' %}"><h4>RPM Translation Sub-packaging</h4></a></li>
<li><a href="{% url 'sos' %}"><h4>SOS Summary</h4></a></li>
<li><a href="{% url 'gettext' %}"><h4>Gettext Improvements</h4></a></li>
{% endblock %}

{% block subcontent %}
    <div class="container">
        <div style="margin-top: 5%; margin-bottom: 5%">
            <span class="h2">Anaconda</span>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div style="margin-top: 5%; margin-bottom: 5%">
            <span class="h2">Flatpak</span>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div style="margin-top: 5%; margin-bottom: 5%">
            <span class="h2">GNOME Apps</span>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <div style="margin-top: 5%; margin-bottom: 5%">
            <span class="h2">i18n Daemon</span>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 5%" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
{% endblock %}
